<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**objective:**  
* Python
* SQL
* Scala
* Java

Some of the popular language that Data Science use are:  
1. Python  
1. Java  
1. Scala  
1. SQL

Some of the commonly used libraries used by Data Scientists include:  
1. Pandas
1. TendorFlow
1. NumPy

|Data Science Tools|
|------------------|
|Apache Spzrk|
|D3.js|
|Julia|

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [ ]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author  
Nilesh Kujur